.element {
    background-image: url("../images/rozowa-skarbonka-i-stojak-na-cokole-podium-koncepcja-oszczednosci-na-rozowym-tle-ilustracji-renderowania-3d.jpg"); 
    margin: 0px auto;
    padding-bottom: 150px;
    min-height: 800px;
    max-width: 1500px;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0px 0px 550px 550px;
    overflow: auto;
}

