.body {
  font-family: Nunito;
  text-align: center;
  background-color: rgb(3, 148, 159);
}

.form {
  max-width: 600px;
  margin: 10px auto;
  margin-top: 50px;
  padding: 20px;
}

.form__fildset {
  background-color: rgb(212, 235, 255);
  box-shadow: 0px 0px 20px -10px rgb(2, 161, 173);
  color: rgb(73, 73, 73);
  padding: 20px;
  border-radius: 15px;
  border-style: outset;
  border-color: rgb(8, 200, 214);
  text-align: center;
}

.form__legend {
  font-size: 24px;
  margin-bottom: 0px;
}

.form__h2 {
  margin-top: 20px;
}

.form__label {
  font-size: 16px;
}

.form__input {
  border-radius: 20px;
  border-style: groove 1px;
  max-width: 100px;
  padding: 10px;
  text-align: center;
  margin-left: 15px;
  cursor: pointer;
}

.form__button {
  padding: 15px;
  background-color: rgb(43, 177, 201);
  color: aliceblue;
  font-size: large;
  font-weight: 700;
  border-radius: 15px;
  border: outset 2px;
  min-width: 100px;
  width: 80%;
  margin: 20px auto;
  cursor: pointer;
}

.form__button:hover {
  background-color: rgb(31, 135, 153);
}

.form__button--clear {
  padding: 15px;
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
  border: none;
}

.form__button--clear:hover {
  background-color: rgb(173, 173, 173);
}

.form__yourcurrency {
  color: rgb(43, 177, 201);
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
  text-shadow: 5px 5px 10px pink;
  text-decoration: underline;
  inset-block: 20px;
}
